body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-inline: auto;
    max-width: 50vw;
    min-width: 1000px;
    font-family: sans-serif;
    flex: 1 0 auto;
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        min-width: 100%;
        width: 100%;
    }
}

ol {
    padding-left: 1.5em;
}

.logo {
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-block: 1em;
}

img {
    width: 100%;
}

.text {
    background-color: #d0e8ff;
    font-weight: 500;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

.scroll {
    width: 100%;
    overflow: scroll;
}

td {
    border: 1px solid black;
    border-radius: .2em;
}

.text * {
    margin: 0;
}

footer {
    background-color: #dddddd;
    padding: 1em;
    flex-shrink: 0;
}

.attention {
    font-weight: 700;
    color: #ff0015;
}