* {
    font-family: sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-inline: auto;
    max-width: 50vw;
    min-width: 1100px;
    flex: 1 0 auto;
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        min-width: 100%;
        width: 100%;
    }
}

ol {
    padding-left: 1.5em;
}

.logo {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: min(3.5vw, 38.5px);
    margin: 1em auto;
    padding-inline: 1em;
}

.logo img {
    width: min(20vw, 220px);
}

.button_row {
    display: flex;
    margin-inline: auto;
    width: fit-content;
}

.button_wrap {
    background-color: #d0e8ff;
    padding: 1em 0 1em 1em;
    overflow-x: scroll;
}

.button {
    background-color: #fff;
    color: #5900ff;
    font-weight: 500;
    padding: 1em;
    border-radius: 1em;
    margin-right: 1em;
    transition: background-color linear .1s;
}

.button:hover {
    background-color: #dddddd;
}

.text {
    background-color: #d0e8ff;
    font-weight: 500;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

.scroll {
    width: 100%;
    overflow: scroll;
}

td {
    border: 1px solid black;
    border-radius: 3px;
}

.text * {
    margin: 0;
}

footer {
    background-color: #dddddd;
    padding: 1em;
    flex-shrink: 0;
}

.attention {
    font-weight: 700;
    color: #ff0015;
}